<h2 mat-dialog-title>POLÍTICA DE PRIVACIDAD ONLINE</h2>
<mat-dialog-content>
  <p>
      Nuestra política de Privacidad Online fue elaborada para reafirmar nuestro
      compromiso con la seguridad y privacidad de las informaciones que recolectamos
      de los usuarios en el sitio <i>autoservicio.petrobrasdistribucion.cl</i>, servicio ofrecido por
      ESMAX limitada, Licenciatario de la marca Petrobras en Chile, de ahora en
      adelante designada como Esmax.
  </p>

  <p>
      Esta política de privacidad abarca el tratamiento que Esmax da a las informaciones
      capaces de identificar a los usuarios, obtenidas cuando dichos usuarios están en el
      sitio web de Esmax en Internet o que formen parte de las bases de datos electrónicos de la empresa.
  </p>

  <p>
      Es importante señalar que el sitio web de Esmax puede tener acceso a enlaces a sitios web
      externos cuyos contenidos y políticas de privacidad no son responsabilidad de Esmax.
      Por ello, recomendamos a los usuarios que, al hacer clic en enlaces que llevan a sitios web externos,
      consulten siempre las respectivas políticas de privacidad antes de suministrar sus datos o informaciones.
  </p>

  <p>
      Recordamos que esta Política de Privacidad está sujeta a constantes mejoras y perfeccionamientos.
      Por eso, recomendamos que se lea periódicamente.
  </p>


  <p>
      Sin embargo, en el caso de que en algún momento se promueva un cambio importante en la manera cómo
      se usan las informaciones personales recogidas, Esmax informará las nuevas condiciones de privacidad:
      a) al público general, mediante un anuncio en nuestra página principal;
      b) a los usuarios registrados, mediante comunicación electrónica.
  </p>

  <p>
      Para efectos de esta Política, se deben observar las siguientes consideraciones:
  </p>

  <p>
      Esmax recoge informaciones personales capaces de identificar a los usuarios, como textos e imágenes, cuando los usuarios:
      a) se registren en nuestro sitio web; b) participen en nuestras promociones o concursos;
      c) se pongan en contacto a través de los canales de atención al usuario.
      Para cada una de las modalidades de recogida de datos se podrán solicitar diferentes informaciones,
      de acuerdo con la finalidad de la recogida. Para ello, se informará a los usuarios sobre los datos
      que se están recogiendo, y quedará a criterio de los usuarios suministrarlos o no.
      Esmax utiliza cookies por lo que recibe, automáticamente, informaciones sobre la navegación del usuario durante una visita.
      Este recurso tiene la finalidad de mejorar la experiencia del usuario, al permitir la adecuación y
      personalización de páginas de acuerdo con su perfil. Sin embargo, el propio usuario puede configurar su navegador
      para que no se envíe esa información de rastreo.
      La inserción de datos personales del usuario en el sitio web de Esmax no es un requisito para poder navegar en el sitio web,
      siendo, por tanto, opcional. El usuario que decide suministrar sus datos personales declara conocer y aceptar los términos de esta Política.
      Dedicaremos nuestros mejores esfuerzos para mantener la integridad y la confidencialidad de las informaciones
      que nos sean proporcionadas. A pesar de que Esmax utiliza tecnologías para aportar seguridad de aplicaciones vía web,
      el usuario reconoce que no se puede tener una expectativa de seguridad total en Internet con relación a la invasión
      de los sitios web, robo, adulteración o eliminación de datos, y otros actos ilícitos.
      Todos los datos personales recogidos serán incorporados a la base de datos de Esmax.
      Esmax se compromete a utilizar sistemas de protección disponibles a través de la tecnología de Internet,
      razón por la que no es responsable de los daños provenientes de su acceso y/o utilización por parte de terceros ajenos,
      ya sea de forma fraudulenta o culpablemente.
      Esmax utiliza las informaciones recogidas con los siguientes propósitos: (i) optimizar el uso y la experiencia
      interactiva durante la navegación del usuario en el sitio web; (ii) elaborar estadísticas generales;
      (iii) responder a las dudas y peticiones de sus usuarios, (iv) realizar campañas de comunicación y marketing de relación;
      (v) comunicarse con los usuarios, con el fin de suministrar informaciones sobre la empresa, productos, servicios y promociones;
      (vi), con relación a las informaciones de menores de 13 años, el uso de esas informaciones tendrá un propósito educativo.
      El acceso a las informaciones recogidas está restringido a los empleados y a personas autorizadas para este fin.
      Los empleados y/o personas autorizadas que utilicen indebidamente esas informaciones, violando nuestra Política de Privacidad,
      estarán sujetos a las medidas disciplinarias y legales pertinentes.
      A menos que tengamos una determinación legal o judicial, las informaciones de los usuarios no se transferirán a terceros
      o se utilizarán con finalidades diferentes para la cuales fueron recogidas por Esmax, salvo en la hipótesis de cambio y
      los propósitos mencionados en el punto 9, cuando Esmax hará una comunicación previa, conforme se menciona anteriormente.
      El usuario garantiza la veracidad y la exactitud de los datos personales que suministre en este sitio web, asumiendo la
      correspondiente responsabilidad en el caso de que no sean exactos. Esmax no asume ninguna responsabilidad por los datos
      personales inexactos introducidos por el usuario en este sitio web.
      El usuario que introduzca sus datos personales podrá, en cualquier momento, solicitar que se le informe el contenido de los mismos,
      así como solicitar las rectificaciones o supresiones que considere convenientes, incluso en su totalidad.
      Si usted tiene preguntas o sugerencias, por favor envíe un correo electrónico a sac@esmax.cl.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
